# Core ML libraries
tensorflow-cpu==2.15.0
keras==2.15.0  # Required for vit-keras

# Torch & YOLO
torch==2.2.1
torchvision==0.17.1
ultralytics==8.1.28

# Utilities
opencv-python-headless==4.9.0.80
Pillow==10.2.0
numpy==1.24.4
vit-keras==0.1.6

# Streamlit for UI
streamlit==1.32.2
